.removeInset > div:first-child {
  inset: 0 !important;
}

.insideSidebar > div:first-child {
  width: 595px !important;
}

.insideSidebar > div:nth-child(2) {
  right: -511px !important;
}

.removeInset > div:nth-child(2) {
  width: 6px !important;
}

.borders {
  border: 1px solid var(--indigo-500) !important;
}

.fontSize18 {
  font-size: 19px !important;
}

.fontSize22 {
  font-size: 20px !important;
}

@media screen and (max-width: 640px) {
  .fontSize16 {
    font-size: 14px !important;
    padding: 14px 10px !important;
  }

  .fontSize14 {
    font-size: 12px !important;
    padding: 14px 10px !important;
  }
}

@media screen and (max-width: 500px) {
  .fontSize16 {
    font-size: 12px !important;
    padding: 10px 6px !important;
  }

  .fontSize14 {
    font-size: 10px !important;
    padding: 10px 6px !important;
  }
}

@media screen and (max-width: 400px) {
  .fontSize16 {
    font-size: 10px !important;
    padding: 10px 4px !important;
  }

  .fontSize14 {
    font-size: 8px !important;
    padding: 10px 4px !important;
  }
}
